region           = {{ strings.Quote .general.region }}
logAccountId     = {{ strings.Quote .logprofile.accountid }}
logBucket        = {{ strings.Quote .general.logBucket }}
spillBucket      = {{ strings.Quote .general.spillBucket }}
curMemberPostfix = {{ strings.Quote .general.curMemberPostfix }}
